@page "/pages/insert-shelve"
@page "/pages/update-shelve/{IsEditing:bool}"
@using SharedModels
@using Services
@inject ISnackbar Snackbar
@inject IStorage storage 
@inject IUser userService
@implements IDisposable

<MudText Typo="Typo.h5">Change Shelve</MudText>

<EditForm Model="@model" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" @bind-Value="model.Name" For="@(() => model.Name)" Label="Name" HelperText="Item name"/>

                <MudTextField T="decimal" @bind-Value="model.Quantity" For="@(() => model.Quantity)" Label="Quantity" />

                <MudDatePicker Label="Expiration Date" @bind-Date="model.ExpirationTime" For="@(() => model.ExpirationTime)"></MudDatePicker>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@Confirm">Confirm</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@foreach (var item in errors)
{
    <li>item</li>
}

@code {
    bool success;
    string[] errors = { };
    MudForm form;
    ShelveItem model = new ShelveItem();
    [Parameter] public bool IsEditing {get; set;} = false;
    
    
    protected override async Task OnParametersSetAsync()
    {
        if(storage.EditingCache != null)
            model = storage.EditingCache;
        else
            model.PartitionKey = (await userService.GetUserAsync()).UserId;
    }
    
    async Task ValidFormSubmitted(EditContext editContext)
    {
        success = true;
        await Confirm();
        StateHasChanged();
    }

    void InvalidFormSubmitted(EditContext editContext)
    {
        success = false;
        StateHasChanged();
    }

    public async Task Confirm()
    {
        if(!IsEditing)
            await storage.InsertShelveItemAsync(model);
        else
            await storage.UpdateShelveItemAsync(model);

        Snackbar.Add("You have save item", Severity.Success, config =>
        {
            config.ShowCloseIcon = false;
        });
    }

    public void Dispose()
    {
        storage.EditingCache = null;
    }
}
